<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
    <title>inteshape Template | Home Page Style 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/loader.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/flaticon.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" class="skin" type="text/css" href="~/css/skin/skin-1.css">
    <link rel="stylesheet" type="text/css" href="~/css/switcher.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">

</head>
<body class="footer-fixed">
    <div class="page-wraper">

        <!--Header gelecel-->
        @{ Html.RenderAction("Header", "Home");}
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- Slider gelecek -->
           
            @RenderBody()

            

        </div>

        <!-- FOOTER Gelecek -->
        @{ Html.RenderAction("Footer", "Home");}
        <!-- BUTTON TOP START -->
        <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

    </div>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-spinner">
                <div class="cssload-cube cssload-cube0"></div>
                <div class="cssload-cube cssload-cube1"></div>
                <div class="cssload-cube cssload-cube2"></div>
                <div class="cssload-cube cssload-cube3"></div>
                <div class="cssload-cube cssload-cube4"></div>
                <div class="cssload-cube cssload-cube5"></div>
                <div class="cssload-cube cssload-cube6"></div>
                <div class="cssload-cube cssload-cube7"></div>
                <div class="cssload-cube cssload-cube8"></div>
                <div class="cssload-cube cssload-cube9"></div>
                <div class="cssload-cube cssload-cube10"></div>
                <div class="cssload-cube cssload-cube11"></div>
                <div class="cssload-cube cssload-cube12"></div>
                <div class="cssload-cube cssload-cube13"></div>
                <div class="cssload-cube cssload-cube14"></div>
                <div class="cssload-cube cssload-cube15"></div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->
    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="~/js/jquery-1.12.4.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="~/js/popper.min.js"></script><!-- POPPER.MIN JS -->
    <script src="~/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
    <script src="~/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
    <script src="~/js/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="~/js/waypoints-sticky.min.js"></script><!-- sticky header JS -->
    <script src="~/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
    <script src="~/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
    <script src="~/js/jquery.owl-filter.js"></script>
    <script src="~/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
    <script src="~/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="~/js/jquery.bgscroll.js"></script><!-- BACKGROUND SCROLL -->
    <script src="~/js/theia-sticky-sidebar.js"></script><!--sticky content-->
    <script src="~/js/switcher.js"></script><!-- SWITCHER FUCTIONS  -->
    <script src="~/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>
    <script src="~/js/rev-script-2.js"></script>

</body>

<!-- Mirrored from 7xtheme.com/inteshape/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Jan 2021 15:26:43 GMT -->
</html>
