@model AltMenu
@{
    ViewBag.Title = "AltMenuDetay";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">


    <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(/kll-assets/image/altmenu/@Model.Gorsel);">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="m-tb0">@Model.Baslik</h2>                                
                        
                    </div>
                </div>
                <div>
                    <ul class="sx-breadcrumb breadcrumb-style-2">
                        <li><a href="~/">Anasayfa</a></li>
                        <li>@Model.Baslik</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT COMPANY START -->
    <div class="section-full mobile-page-padding p-t80 p-b80 bg-gray">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="about-home-2">
                            <h3 class="m-t0 sx-tilte">@Model.Baslik</h3>
                            <p>
                                @Model.Icerik
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>