@model HizmetKategori
@{
    var hizmetler = (List<Hizmet>)ViewBag.HizmetKategoriPegeHizmet;
    ViewBag.Title = "HizmetKategoriDetay";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-wraper">

    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(images/banner/6.jpg);">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="container">
                <div class="sx-bnr-inr-entry">

                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="sx-breadcrumb breadcrumb-style-2">
                            <li><a href="~/">Anasayfa</a></li>
                            <li>@Model.Baslik</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
        <div class="section-full  mobile-page-padding bg-white  p-t80 p-b50 bg-repeat overflow-hide" style="background-image:url(images/background/cross-line2.png)">

            <div class="container">
                <!-- TITLE START -->
                <div class="section-head">
                    <div class="sx-separator-outer separator-center">
                        <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(images/background/cross-line2.png)">
                            <h3 class="sep-line-one">@Model.Baslik</h3>
                        </div>
                    </div>
                </div>
                <!-- TITLE END -->
                <div class="section-content">
                    <div class="row number-block-three-outer justify-content-center">

                        @foreach (var item in hizmetler)
                        {
                            if (item.HizmetKategoriId == Model.Id)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">

                                    <div class="number-block-three slide-ani-top">
                                        <div class="sx-media">
                                            <img src="~/kll-assets/image/hizmet/@item.Gorsel" alt="">
                                        </div>
                                        <div class="figcaption bg-gray  p-a30">
                                            <h4 class="m-tb0"><a href="~/@item.SEOLink">@item.Baslik</a></h4>


                                        </div>
                                    </div>

                                </div>
                            }
                        }


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>