
@{
    ViewBag.Title = "SayfaBulunamadi";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(images/banner/8.jpg);">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="m-tb0">Error 404</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->

                <div>
                    <ul class="sx-breadcrumb breadcrumb-style-2">
                        <li><a href="~/">Anasayfa</a></li>
                        <li>Error</li>
                    </ul>
                </div>

                <!-- BREADCRUMB ROW END -->
            </div>
        </div>

    </div>
    <!-- INNER PAGE BANNER END -->
    <!-- SECTION CONTENTG START -->
    <div class="section-full mobile-page-padding p-tb150 bg-bottom-left bg-no-repeat" style="background-image:url(images/background/bg-4.png)">
        <div class="container">
            <div class="section-content">
                <div class="page-notfound row">
                    <div class="col-md-7">
                        <img src="images/error-404.png" alt="">
                    </div>
                    <div class="col-md-5">
                        <strong>Sayfa Bulunamadı</strong>
                        <span class="title">Error 404</span>
                        <p>Üzgünüz, aradığınız sayfa bulunamadı!</p>
                        <a href="~/" title="Anasayfaya geri dön" class="site-button btn-half"><span>Anasayfaya geri dön</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END -->

</div>